<html>
<body>

<div id="test entry">
<form name="contact" action="">
  <fieldset>
    <label for="test" id="test_label">Test</label> &nbsp;
    <input type="text" name="test" id="test" size="30" value="" class="text-input" />
    <label class="error" for="test" id="test_error">This field is required.</label>
<br><br>
    <label for="result" id="result_label">Result</label>
    <input type="text" name="result" id="result" size="30" value="" class="text-input" />
    <label class="error" for="result" id="result_error">This field is required.</label>
<br><br>
    <label for="units" id="units_label">Units</label>
    <input type="text" name="units" id="units" size="30" value="" class="text-input" />
    <label class="error" for="units" id="units_error">This field is required.</label>
<br><br>
      <label for="range" id="range_label">Reference_range</label>
    <input type="text" name="range" id="range" size="30" value="" class="text-input" />
    <label class="error" for="range" id="range_error">This field is required.</label>
<br><br>
    <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
  </fieldset>
</form>
</div>
</body>
</html>